@charset "utf-8";
/* CSS Document */


h1,h2,h3,p{
	
	float:right;
	 direction: rtl;
}


#in_wr{
	width:900px;
	height:1920px;
	margin:0px auto;
	
}



#send{
	margin-top:170px;
	background-color:#4fc7dc;
	text-align:center;
	color:#fff;
	font-size:3.5em;
}


.send_filter{
	
	width:900px;
	height:140px;
    margin:0px auto;
	display:block;
	border:none;
	border-radius:10px;
	text-align:center;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	color:#fff;
	background-color:#4ec7dc;
	margin-bottom:30px;
	padding-right:50px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;}

/*header*/

header{
	width:1080px;
	height:305px;
	background-color:#fff;
	position:fixed;
	top:0px;
	-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
}


#top_bar{
	width:1080px;
	height:157px;
	background-image:url(../img/logo_nav.png);
	background-repeat:no-repeat;
	background-position:center;
	z-index:999;
	padding-top:52px;
	
}

#top_bar i{
	float:right;
	font-size:4em;
	color:#C5C5C5;
}

#nav_swipe{
	font-size:4em;
	padding:0px;
}

.fa-bars{
	margin-left:70px;
	font-size:3em;
}


/*nav bar*/
#ar_feed {
	display:none;
}

#ar_notes {
	display:none;
}



#ar_profile article{
	width:1040px;
	height:520px;
	background-color:rgba(255,255,255,0.8);
	margin:0px auto;
	margin-bottom:12px;
	border-radius:10px;
	padding:25px;
	color:#707070;
}

#ar_profile article h1{
	font-weight:bold;
	font-size:48px;
	display:block;
	width:900px;
}

#ar_profile article h2{

	font-size:40px;
	display:block;
	width:900px;
}


article .note, article .contact{
	width:100%;
	height:150px;
	background-color:rgba(255,255,255,0.9);
	padding-right:50px;
	padding-left:50px;
	float:right;
     margin-bottom:1px;
	 margin-top:1px;
	
}

#ar_notes article p, #ar_feed article p{
	font-size:2.2em;
	line-height:150px;
	
}

#ar_notes article BUTTON , #ar_feed article BUTTON{
	border:none;
	background:none;
}

#ar_notes article i , #ar_feed article i{
	font-size:3.3em;
	line-height:150px;
	color:#E80307;
}


/*search*/
#search{
	width:1080px;
	height:190px;
	background-color:#fff;
	position:absolute;
	z-index:998;
	top:0px;
	-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
			padding-right:100px;
			
}

#search_in{
	width:800px;
	height:140px;
	border:none;
	border-bottom:#4ec7dc thin solid;
	line-height:180px;
	font-size:3em;
	font-weight:bold;
	text-align:right;
	float:right;
	padding-right:20px;
		color:#4ec7dc;


	}
	
#look{
		width:50px;
	height:50px;
	background:none;
     margin-top:60px;
	 margin-left:180px;
	 position:absolute;
	 border:none;
	 background-image:url(../img/search.png);
	 background-repeat:no-repeat;
	font-size:3em;
		color:#4ec7dc;
	
}

button{
	outline:0;
}

#searchform a{
	font-size:4.3em;
	color:#4ec7dc;
	line-height:140px;
	margin-left:50px;
}



#searchform h1{
	margin-right:35%;
	margin-top:50px;
	color:#4ec7dc;
	color:#474747;
	font-size:3em;
	
}



#search_in:focus , #look:focus , #add_apt{
	outline:0;
}

h4{
	font-size:2.5em;
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
}




/*filter*/

.first{
	width:900px;
	height:115px;
	border:none;
	padding-right:50px;
	border-radius:10px;
	text-align:right;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	margin-bottom:30px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
	
}


textarea{
	width:900px;
	height:300px;
	border:none;
	padding-right:50px;
	border-radius:10px;
	text-align:right;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	margin-bottom:30px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
	
}



#add_apt{
	position:fixed;
	background:none;
	border:none;
	width:120px;
	height:120px;
	color:#fff;
	background-color:#42bcd1;
	font-size:3.5em;
	z-index:995;
	bottom:100px;
	border-radius:50%;
	left:890px;
	
	-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
}


#stat , #price, #floor{
	width:900px;
		margin-top:130px;
}

#check{	width:900px; margin-top:80px;}



  input[type=checkbox]
{
 /* Double-sized Checkboxes */
 -ms-transform: scale(5); /* IE */
 -moz-transform: scale(5); /* FF */
 -webkit-transform: scale(5); /* Safari and Chrome */
 -o-transform: scale(102); /* Opera */
margin: 50px;
margin-left: 110px;
margin-bottom:120px;

}

label{
	font-size:2.6em;
	font-weight:500;
}

.price_set{
	
width:430px;
	height:115px;
	border:none;
	padding-right:50px;
	border-radius:10px;
	text-align:right;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	margin-bottom:30px;
	background-image:url(../img/ils.png);
	background-repeat:no-repeat;
	background-position:40px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;	
	
}


.floor_set{
	
width:277px;
	height:115px;
	border:none;
	padding-right:50px;
	border-radius:10px;
	text-align:right;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	margin-bottom:30px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;	
	
}

.client_set{
	
width:600px;
	height:115px;
	border:none;
	padding-right:50px;
	border-radius:10px;
	text-align:right;
	font-family:almoni, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	margin-bottom:40px;
		-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;	
	
}







/*modal*/

#myModal, #myModal2{
	top:500px;
	text-align:center;
	margin-right:50px;

	
	

}

.modal-content{border-radius:10px;
width:645px;
height:945px;
background-color:#FFF;


}

.modal-content textarea{
	width:550px;
	height:700px;
	font-size:3em;
	border:none;
	text-align:right;
}

#add_note{
	margin-top:20px;
	width:550px;
	height:120px;
	background-color:#4ec7dc;
	font-size:3em;
	color:#fff;
	border:none;
	border-radius:10px;
}

#add_note:focus, textarea:focus , #take_pic:focus{
	outline:0;
	
}


#take_pic{
	width:140px;
	height:140px;
	margin:0px auto;
	display:block;
	color:#fff;
	font-size:4em;
	border:none;
	border-radius:50%;
	background-color:#4ec7dc;
	-webkit-box-shadow: 0 1px 25px -8px black;
	   -moz-box-shadow: 0 1px 25px -8px black;
	        box-shadow: 0 1px 25px -8px black;
			margin-bottom:100px;
}



